@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Revalia&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    --primary-color: #5BC0BE;
    --secondary-color: #008F00;
    --accent1-color: #C03221;
    --accent2-color: #0016E0;
    --accent3-color: #F2D0A4;

}
#carbanner {
    position: relative;
    text-align: center;
    color: white;
}
#carbanner img {
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 8px;
}
#carbanner h1 {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 100px;
}
#matcontent{
    border:#F2D0A4 solid 10px;
    border-radius: 10px;
}
#tripod {
    border:#F2D0A4 solid 10px;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    background: #C03221;
}
#tripod img{
    float: right;
}
#tripod p{
    color: #ffffff;
}
#putty {
    border:#F2D0A4 solid 10px;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    background: #C03221;
}
#putty img{
    float: right;
}
#putty p{
    color: #ffffff;
}
#editing {
    border:#F2D0A4 solid 10px;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    background: #C03221;
}
#editing img{
    float: right;
}
#editing p{
    color: #ffffff;
}