@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Revalia&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    --primary-color: #5BC0BE;
    --secondary-color: #008F00;
    --accent1-color: #C03221;
    --accent2-color: #0016E0;
    --accent3-color: #F2D0A4;


    --heading-font: "Revalia", sans-serif;
    --info-heading-font: "Archivo Black", sans-serif;
    --paragraph-font: "Roboto", sans-serif;

    margin: 0;
    padding: 0;
    justify-self: center;
}

h1{
    font-family: var(--heading-font);
    color: var(--accent2-color);
    justify-self: unset;
}

h2, h3{
    font-family: var(--info-heading-font);
}

p{
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    justify-self: unset;
}

header{
    justify-self: unset;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 150px auto;
    padding: 20px;
}

#logo{
    height: 100%;
    justify-self: center;
}

header h3{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
}

nav{
    grid-row: 1/3;
    grid-column: 2/3;
    width: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.link{
    justify-self: center;
    font-family: var(--info-heading-font);
    font-size: 2em;
    color: #C03221;
    text-decoration: none;
    color: var(--accent1-color);
    text-shadow: 2px 2px 4px #000000;
}

.home-banner{
    display: flex;
    justify-self: center;
    margin: 45px auto;
    width: 80%;
}

.home-banner p{
    float: left;
    height: 100%;
    width: fit-content;
}

#home-cont{
    background-color: #5BC0BE;
    width: 85%;
    padding: 5%;
}

.info {
    display: grid;
    grid-template-areas: 
    'title image'
    'text image';

    grid-template-columns: 45% 55%;
    height: fit-content;
    width: 99%;
    text-decoration: none;
}

#home-cont .info h3{
    grid-area: title;
    font-size: 3em;
    height: fit-content;
    align-self:end;
}

#home-cont .info h2{
    grid-area: text;
    font-size: 4em;
}
.info img{
    grid-area: image;
    width: 100%;
}

#paragraph1, #paragraph2, #paragraph3, #paragraph4 {
    padding: 50px 50px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content h4 {font-size: 2em;}

.content > :nth-child(1) {
    grid-column: 1 / 3;
}