@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Revalia&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    --primary-color: #5BC0BE;
    --secondary-color: #008F00;
    --accent1-color: #C03221;
    --accent2-color: #0016E0;
    --accent3-color: #F2D0A4;

    --heading-font: "Revalia", sans-serif;
    --info-heading-font: "Archivo Black", sans-serif;
    --paragraph-font: "Roboto", sans-serif;

    margin: 0;
    padding: 0;
    justify-self: center;
}

h1{
    font-family: var(--heading-font);
    color: var(--accent2-color);
    justify-self: unset;
}

h2, h3{
    font-family: var(--info-heading-font);
}

p{
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    justify-self: unset;
}

img{
    object-fit: contain;
}

header{
    justify-self: unset;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 150px auto;
    padding: 20px;
}

#logo{
    height: 100%;
    justify-self: center;
}

header h3{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
}

nav{
    grid-row: 1/3;
    grid-column: 2/3;
    width: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.link{
    justify-self: center;
    font-family: var(--info-heading-font);
    font-size: 2em;
    color: #C03221;
    text-decoration: none;
    color: var(--accent1-color);
    text-shadow: 2px 2px 4px #000000;
}

.home-banner{
    display: flex;
    justify-self: center;
    margin: 45px auto;
    width: 80%;
}

.home-banner p{
    float: left;
    height: 100%;
    width: fit-content;
    margin-left: 15px;
}

#home-cont{
    background-color: #5BC0BE;
    padding: 5%;
}

.info {
    display: grid;
    grid-template-areas: 
    'title image'
    'text image';

    grid-template-columns: 45% 55%;
    height: fit-content;
    width: 99%;
    text-decoration: none;
}
.content {
    width: 85%;
}


.info h3{
    grid-area: title;
    font-size: 3em;
    height: fit-content;
    align-self:end;
}

#home-cont .info h2{
    grid-area: text;
    font-size: 4em;
}

.info p{
    grid-area: text;
    padding: 50px;
}

.info img{
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#end-paragraph{
    margin: 30px 45px;
}






.content h4 {font-size: 2em;}

footer{
    background-color: var(--secondary-color);
    width: 100%;
    height: 100px;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

footer p{
    grid-column: 1/4;
}

.content > :nth-child(1) {
    grid-column: 1 / 3;
}
footer {
    background: #008F00;
}
#carbanner {
    position: relative;
    text-align: center;
    color: white;
}
#carbanner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}
#carbanner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bold;
    background: rgba(0,0,0,0.6);
    padding: 15px 30px;
    border-radius: 8px;
    margin: 0;
    color: #C03221;
}
#matcontent {
    border: 10px solid #F2D0A4;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
}
#matcontent > p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 30px auto;
    color: #333;
    padding: 10px 20px;
}
.material-block {
    border: 10px solid #F2D0A4;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    background: #C03221;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}
.material-block h2 {
    background: #F2D0A4;
    color: #000;
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    padding: 10px;
    grid-column: 1 / span 2;
}
.material-block p {
    color: #ffffff;
    font-size: 1.1rem;
    margin: 0;
    padding: 20px;
    grid-column: 1;
    align-self: center;
}
.material-block img {
    grid-column: 2;
    justify-self: center;
    align-self: center;
    max-height: 80%;
    max-width: 90%;
    object-fit: contain;
    border-radius: 8px;
}
.material-block {
    grid-template-columns: 1fr 1fr;
}
